{"openapi":"3.1.0","info":{"title":"JobApply API","description":"API for tracking job applications","version":"1.0.0"},"servers":[{"url":"https://jobapply-api.hugojava.dev","description":"Production"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Google Drive","description":"Google Drive OAuth and resume copy endpoints"},{"name":"Auth","description":"Authentication and user management endpoints"},{"name":"Dashboard","description":"Dashboard summary statistics endpoints"},{"name":"Gamification","description":"Gamification profile, achievements and XP event endpoints"},{"name":"Applications","description":"Job application management endpoints"},{"name":"Account","description":"Account configuration endpoints"}],"paths":{"/api/v1/google-drive/root-folder":{"put":{"tags":["Google Drive"],"summary":"Update Google Drive root folder","operationId":"updateRootFolder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleDriveRootFolderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GoogleDriveStatusResponse"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Auth"],"summary":"Get current user","description":"Returns the currently authenticated user's profile","operationId":"me","responses":{"200":{"description":"Current user details","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}},"put":{"tags":["Auth"],"summary":"Update current user profile","description":"Updates the currently authenticated user's profile data","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileRequest"}}},"required":true},"responses":{"200":{"description":"Profile updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/v1/auth/me/password":{"put":{"tags":["Auth"],"summary":"Change current user password","description":"Changes the currently authenticated user's password","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"Password changed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"400":{"description":"Validation error or wrong current password","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/applications/{id}":{"get":{"tags":["Applications"],"summary":"Get application by ID","description":"Returns a single job application owned by the authenticated user","operationId":"getById","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Application found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"404":{"description":"Application not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}},"put":{"tags":["Applications"],"summary":"Update a job application","description":"Replaces all fields of an existing job application","operationId":"update","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationRequest"}}},"required":true},"responses":{"200":{"description":"Application updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"404":{"description":"Application not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}},"delete":{"tags":["Applications"],"summary":"Delete a job application permanently","operationId":"delete","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Application deleted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"404":{"description":"Application not found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/v1/google-drive/oauth/start":{"post":{"tags":["Google Drive"],"summary":"Start Google Drive OAuth flow","operationId":"startOauth","responses":{"200":{"description":"Authorization URL generated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GoogleDriveOAuthStartResponse"}}}}}}},"/api/v1/google-drive/base-resumes":{"get":{"tags":["Google Drive"],"summary":"List all base resumes for the authenticated user","description":"Returns lightweight metadata for all base resumes registered by the authenticated user. Use the returned UUID `id` field in subsequent API calls. Filenames and Google file IDs are NOT valid identifiers for resume operations.","operationId":"listBaseResumes","responses":{"200":{"description":"List of base resumes","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BaseResumeResponse"}}}}}}},"post":{"tags":["Google Drive"],"summary":"Register a Google Docs base resume","description":"Registers a Google Docs document as a base resume for the authenticated user. Optionally set the language code and template flag for GPT/frontend discovery.","operationId":"addBaseResume","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleDriveBaseResumeRequest"}}},"required":true},"responses":{"201":{"description":"Base resume registered successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GoogleDriveBaseResumeResponse"}}}}}}},"/api/v1/google-drive/applications/{applicationId}/resume-copies":{"post":{"tags":["Google Drive"],"summary":"Copy a base resume into an application folder","operationId":"copyBaseResume","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleDriveResumeCopyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GoogleDriveResumeCopyResponse"}}}}}}},"/api/v1/google-drive/applications/{applicationId}/generated-resumes":{"post":{"tags":["Google Drive"],"summary":"Generate an application resume by replacing template placeholders","description":"values is REQUIRED.\nKeys must match the placeholders returned by the placeholder detection endpoint.\nUse RESUMO instead of {{RESUMO}}.\nGenerate values for all detected placeholders before calling this endpoint.\n","operationId":"generateResume","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResumePlaceholderRequest"}}},"required":true},"responses":{"201":{"description":"Resume generated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResumePlaceholderResponse"}}}},"404":{"description":"Application or base resume not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResumePlaceholderResponse"}}}}}}},"/api/v1/gamification/events":{"post":{"tags":["Gamification"],"summary":"Apply a gamification event","description":"Registers a tracked client event and returns the updated XP snapshot","operationId":"applyEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GamificationEventRequest"}}},"required":true},"responses":{"201":{"description":"Event applied","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GamificationEventResponse"}}}},"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GamificationEventResponse"}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GamificationEventResponse"}}}}}}},"/api/v1/auth/reset-password":{"post":{"tags":["Auth"],"summary":"Reset password","description":"Resets the user password using a valid reset token","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"Password reset successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"400":{"description":"Invalid or expired reset token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"429":{"description":"Too many requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/auth/register":{"post":{"tags":["Auth"],"summary":"Register a new user","description":"Creates a new user account and returns access and refresh tokens","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"201":{"description":"User registered successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"description":"Validation error or passwords do not match","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"409":{"description":"Email already in use","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"429":{"description":"Too many requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["Auth"],"summary":"Refresh access token","description":"Issues a new access token using the refresh token from HttpOnly cookie","operationId":"refresh","parameters":[{"name":"refreshToken","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Token refreshed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshResponse"}}}},"401":{"description":"Invalid or expired refresh token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshResponse"}}}},"429":{"description":"Too many requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshResponse"}}}}}}},"/api/v1/auth/passkey/register/verify":{"post":{"tags":["Auth"],"operationId":"passkeyRegisterVerify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasskeyVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/auth/passkey/register/options":{"post":{"tags":["Auth"],"operationId":"passkeyRegisterOptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasskeyOptionsResponse"}}}}}}},"/api/v1/auth/passkey/login/verify":{"post":{"tags":["Auth"],"operationId":"passkeyLoginVerify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasskeyVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/auth/passkey/login/options":{"post":{"tags":["Auth"],"operationId":"passkeyLoginOptions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasskeyLoginOptionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasskeyOptionsResponse"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Auth"],"summary":"Logout","description":"Invalidates the refresh token from HttpOnly cookie","operationId":"logout","parameters":[{"name":"refreshToken","in":"cookie","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Logged out successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"429":{"description":"Too many requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Auth"],"summary":"Login","description":"Authenticates a user and returns access token. Refresh token is sent via HttpOnly cookie.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"Login successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"401":{"description":"Invalid credentials","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"429":{"description":"Too many requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/v1/auth/forgot-password":{"post":{"tags":["Auth"],"summary":"Request password reset","description":"Sends a password reset token to the provided email address","operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"Reset email sent","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"429":{"description":"Too many requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/applications":{"get":{"tags":["Applications"],"summary":"List job applications","description":"Returns a paginated, filterable list of job applications for the authenticated user","operationId":"getAll","parameters":[{"name":"status","in":"query","description":"Filter by status","required":false,"schema":{"type":"string"}},{"name":"recruiterName","in":"query","description":"Filter by recruiter name","required":false,"schema":{"type":"string"}},{"name":"applicationDateFrom","in":"query","description":"Filter from date (yyyy-MM-dd)","required":false,"schema":{"type":"string","format":"date"}},{"name":"applicationDateTo","in":"query","description":"Filter to date (yyyy-MM-dd)","required":false,"schema":{"type":"string","format":"date"}},{"name":"interviewScheduled","in":"query","description":"Filter by interview scheduled flag","required":false,"schema":{"type":"boolean"}},{"name":"recruiterDmReminderEnabled","in":"query","description":"Filter by recruiter DM reminder flag","required":false,"schema":{"type":"boolean"}},{"name":"archived","in":"query","description":"Filter by archived flag (defaults to false)","required":false,"schema":{"type":"boolean"}},{"name":"page","in":"query","description":"Page number (0-based)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","description":"Sort field","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Page of applications","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationPageResponse"}}}}}},"post":{"tags":["Applications"],"summary":"Create a job application","description":"Creates a new job application for the authenticated user","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationRequest"}}},"required":true},"responses":{"201":{"description":"Application created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}}},"/api/v1/account/test-email":{"post":{"tags":["Account"],"summary":"Send test email","description":"Sends a test email to the currently authenticated user's email address","operationId":"sendTestEmail","responses":{"200":{"description":"Test email processed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/applications/{id}/status":{"patch":{"tags":["Applications"],"summary":"Update application status","description":"Partially updates only the status field of an application","operationId":"updateStatus","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStatusRequest"}}},"required":true},"responses":{"200":{"description":"Status updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"404":{"description":"Application not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}}},"/api/v1/applications/{id}/reminder":{"patch":{"tags":["Applications"],"summary":"Update recruiter DM reminder","description":"Enables or disables the recruiter DM reminder for an application","operationId":"updateReminder","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReminderRequest"}}},"required":true},"responses":{"200":{"description":"Reminder updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"404":{"description":"Application not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}}},"/api/v1/applications/{id}/mark-dm-sent":{"patch":{"tags":["Applications"],"summary":"Mark DM as sent to recruiter","description":"Marks that a DM was sent to the recruiter and hides from reminder panels","operationId":"markDmSent","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarkDmSentRequest"}}},"required":true},"responses":{"200":{"description":"DM marked as sent","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"404":{"description":"Application not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}}},"/api/v1/applications/{id}/archive":{"patch":{"tags":["Applications"],"summary":"Archive a job application","operationId":"archive","parameters":[{"name":"id","in":"path","description":"Application ID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Application archived","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}},"404":{"description":"Application not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}}},"/api/v1/google-drive/status":{"get":{"tags":["Google Drive"],"summary":"Get Google Drive status","operationId":"getStatus","responses":{"200":{"description":"Current Google Drive integration status","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GoogleDriveStatusResponse"}}}}}}},"/api/v1/google-drive/resume-placeholders/{baseResumeId}":{"get":{"tags":["Google Drive"],"summary":"Detect placeholders in a configured base resume","description":"Analyzes the specified base resume for template placeholders and returns a list of detected placeholders. This endpoint is intended for AI/tool consumption to discover which placeholders are available for resume generation. The `baseResumeId` path parameter MUST be a UUID — filenames are NOT valid.","operationId":"detectResumePlaceholders","parameters":[{"name":"baseResumeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Placeholders detected successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResumePlaceholderDetectionResponse"}}}},"404":{"description":"Base resume not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResumePlaceholderDetectionResponse"}}}}}}},"/api/v1/google-drive/oauth/callback":{"get":{"tags":["Google Drive"],"summary":"Google Drive OAuth callback","operationId":"oauthCallback","parameters":[{"name":"state","in":"query","required":false,"schema":{"type":"string"}},{"name":"code","in":"query","required":false,"schema":{"type":"string"}},{"name":"error","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/google-drive/base-resumes/{resumeId}/content":{"get":{"tags":["Google Drive"],"summary":"Get plain text content of a base resume","description":"Reads and returns the plain text content of the specified Google Docs base resume. Template placeholders such as {{SUMMARY}} and {{SKILLS}} are preserved as-is. The `resumeId` path parameter MUST be a UUID — filenames are NOT valid.","operationId":"getBaseResumeContent","parameters":[{"name":"resumeId","in":"path","description":"UUID of the base resume. NOT the filename.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Resume content retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResumeContentResponse"}}}},"404":{"description":"Base resume not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BaseResumeContentResponse"}}}}}}},"/api/v1/google-drive/base-resumes/{baseResumeId}/pdf":{"get":{"tags":["Google Drive"],"summary":"Download base resume as PDF","operationId":"downloadBaseResumePdf","parameters":[{"name":"baseResumeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/google-drive/base-resumes/{baseResumeId}/docx":{"get":{"tags":["Google Drive"],"summary":"Download base resume as DOCX","operationId":"downloadBaseResumeDocx","parameters":[{"name":"baseResumeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.wordprocessingml.document":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/google-drive/applications/{applicationId}/generated-resumes/pdf":{"get":{"tags":["Google Drive"],"summary":"Download generated resume as PDF","operationId":"downloadGeneratedResumePdf","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/google-drive/applications/{applicationId}/generated-resumes/docx":{"get":{"tags":["Google Drive"],"summary":"Download generated resume as DOCX","operationId":"downloadGeneratedResumeDocx","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.wordprocessingml.document":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/google-drive/applications/{applicationId}/generated-resumes/content":{"get":{"tags":["Google Drive"],"summary":"Get plain text content of a generated resume","description":"Returns plain text content extracted from the generated Google Docs resume. This endpoint is intended for AI/tool consumption instead of binary file download.","operationId":"getGeneratedResumeContent","parameters":[{"name":"applicationId","in":"path","description":"UUID of the application.","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Generated resume content retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneratedResumeContentResponse"}}}},"404":{"description":"Application or generated resume not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GeneratedResumeContentResponse"}}}}}}},"/api/v1/gamification/profile":{"get":{"tags":["Gamification"],"summary":"Get current gamification profile","description":"Returns the authenticated user's current XP snapshot, level progress and rank title","operationId":"getProfile","responses":{"200":{"description":"Gamification profile","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GamificationProfileResponse"}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GamificationProfileResponse"}}}}}}},"/api/v1/gamification/achievements":{"get":{"tags":["Gamification"],"summary":"List achievements","description":"Returns the authenticated user's achievement catalog and unlocked state","operationId":"getAchievements","responses":{"200":{"description":"Achievement catalog","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AchievementResponse"}}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AchievementResponse"}}}}}}}},"/api/v1/dashboard/summary":{"get":{"tags":["Dashboard"],"summary":"Get dashboard summary","description":"Returns aggregate statistics for the authenticated user's job applications","operationId":"getSummary","responses":{"200":{"description":"Dashboard summary","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardSummaryResponse"}}}},"401":{"description":"Not authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardSummaryResponse"}}}}}}},"/api/v1/auth/passkey/me":{"get":{"tags":["Auth"],"operationId":"passkeyMe","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PasskeyStatusResponse"}}}}}}},"/api/v1/applications/upcoming":{"get":{"tags":["Applications"],"summary":"Get upcoming applications","description":"Returns applications with upcoming next-step dates","operationId":"getUpcoming","responses":{"200":{"description":"List of upcoming applications","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}}}},"/api/v1/applications/overdue":{"get":{"tags":["Applications"],"summary":"Get overdue applications","description":"Returns applications whose next-step date has already passed","operationId":"getOverdue","responses":{"200":{"description":"List of overdue applications","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationResponse"}}}}}}}},"/api/v1/applications/link-metadata":{"get":{"tags":["Applications"],"summary":"Extract link metadata","description":"Extracts rich preview metadata (title, description, image, domain) from a URL","operationId":"getLinkMetadata","parameters":[{"name":"url","in":"query","description":"URL to extract metadata from","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Link metadata extracted","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LinkMetadataResponse"}}}},"400":{"description":"Invalid URL","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LinkMetadataResponse"}}}}}}},"/.well-known/oauth-protected-resource/**":{"get":{"tags":["o-auth-protected-resource-metadata-controller"],"operationId":"protectedResourceMetadata","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/.well-known/oauth-protected-resource":{"get":{"tags":["o-auth-protected-resource-metadata-controller"],"operationId":"protectedResourceMetadata_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}}}}},"/api/v1/google-drive/connection":{"delete":{"tags":["Google Drive"],"summary":"Disconnect Google Drive","operationId":"disconnect","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}},"/api/v1/google-drive/base-resumes/{baseResumeId}":{"delete":{"tags":["Google Drive"],"summary":"Delete a configured base resume","operationId":"deleteBaseResume","parameters":[{"name":"baseResumeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}}}}},"components":{"schemas":{"GoogleDriveRootFolderRequest":{"type":"object","description":"Request to configure the user's Google Drive root folder","properties":{"folderIdOrUrl":{"type":"string","description":"Google Drive folder ID or URL","example":"https://drive.google.com/drive/folders/1234567890abcdef","minLength":1}},"required":["folderIdOrUrl"]},"GoogleDriveBaseResumeResponse":{"type":"object","description":"Configured Google Docs base resume","properties":{"id":{"type":"string","format":"uuid"},"googleFileId":{"type":"string"},"documentName":{"type":"string"},"webViewLink":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"GoogleDriveStatusResponse":{"type":"object","description":"Current Google Drive integration status","properties":{"configured":{"type":"boolean"},"connected":{"type":"boolean"},"googleEmail":{"type":"string"},"googleDisplayName":{"type":"string"},"googleAccountId":{"type":"string"},"rootFolderId":{"type":"string"},"rootFolderName":{"type":"string"},"connectedAt":{"type":"string","format":"date-time"},"baseResumes":{"type":"array","items":{"$ref":"#/components/schemas/GoogleDriveBaseResumeResponse"}}}},"UserResponse":{"type":"object","description":"Authenticated user profile","properties":{"id":{"type":"string","format":"uuid","description":"User ID","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","description":"User display name","example":"John Doe"},"email":{"type":"string","description":"User email address","example":"john@example.com"},"reminderTime":{"type":"string","description":"Preferred daily reminder time","example":"19:00:00"},"roles":{"type":"array","description":"Granted application roles","example":["USER","BETA"],"items":{"type":"string"},"uniqueItems":true},"canUseGoogleIntegration":{"type":"boolean","description":"Whether the user can access Google integration features","example":true}}},"UpdateProfileRequest":{"type":"object","description":"Authenticated user profile update request","properties":{"name":{"type":"string","description":"User display name","example":"John Doe","maxLength":150,"minLength":0},"reminderTime":{"type":"string","description":"Preferred daily reminder time","example":"19:00:00"}},"required":["name"]},"MessageResponse":{"type":"object","description":"Generic message response","properties":{"message":{"type":"string","description":"Informational message","example":"Operation completed successfully"}}},"ChangePasswordRequest":{"type":"object","description":"Authenticated user password change request","properties":{"currentPassword":{"type":"string","description":"Current account password","example":"secureP@ss1","minLength":1},"newPassword":{"type":"string","description":"New account password","example":"newSecureP@ss1","maxLength":2147483647,"minLength":8},"confirmPassword":{"type":"string","description":"Confirm new account password","example":"newSecureP@ss1","minLength":1}},"required":["confirmPassword","currentPassword","newPassword"]},"ApplicationResponse":{"type":"object","description":"Job application details","properties":{"id":{"type":"string","format":"uuid","description":"Unique application ID","example":"550e8400-e29b-41d4-a716-446655440000"},"vacancyName":{"type":"string","description":"Job title or vacancy name","example":"Backend Engineer"},"recruiterName":{"type":"string","description":"Recruiter name","example":"Jane Smith"},"organization":{"type":"string","description":"Organization or company that posted the vacancy","example":"TechCorp HR"},"vacancyLink":{"type":"string","description":"URL to the vacancy posting","example":"https://example.com/jobs/123"},"applicationDate":{"type":"string","format":"date","description":"Application date (yyyy-MM-dd)","example":"2024-06-01"},"rhAcceptedConnection":{"type":"boolean","description":"Whether the recruiter accepted a LinkedIn connection","example":true},"interviewScheduled":{"type":"boolean","description":"Whether an interview has been scheduled","example":false},"nextStepDateTime":{"type":"string","format":"date-time","description":"Next step date/time","example":"2024-06-10T14:00:00"},"status":{"type":"string","description":"Application status","example":"APPLIED"},"previousStatus":{"type":"string","description":"Previous application status before Rejeitado or Ghosting","example":"Teste Técnico"},"recruiterDmReminderEnabled":{"type":"boolean","description":"Whether a recruiter DM reminder is enabled","example":true},"recruiterDmSentAt":{"type":"string","format":"date-time","description":"Timestamp when DM was sent to the recruiter","example":"2024-06-05T14:30:00"},"note":{"type":"string","description":"Personal notes about this application","example":"Follow up next Monday"},"archived":{"type":"boolean","description":"Whether the application is archived","example":false},"archivedAt":{"type":"string","format":"date-time","description":"Timestamp when application was archived","example":"2024-06-10T09:15:00"},"driveVacancyFolderId":{"type":"string","description":"Google Drive vacancy folder ID associated with this application","example":"folder-123"},"driveResumeFileId":{"type":"string","description":"Last generated Google Docs resume file ID","example":"doc-123"},"driveResumeFileName":{"type":"string","description":"Last generated Google Docs resume file name","example":"APP-123 - Backend Engineer - Base Resume"},"driveResumeDocumentUrl":{"type":"string","description":"URL for the last generated Google Docs resume","example":"https://docs.google.com/document/d/doc-123/edit"},"driveResumeGeneratedAt":{"type":"string","format":"date-time","description":"Timestamp when the latest Google Docs resume was generated","example":"2024-06-11T14:45:00"},"createdAt":{"type":"string","format":"date-time","description":"Record creation timestamp","example":"2024-06-01T10:00:00"},"updatedAt":{"type":"string","format":"date-time","description":"Last update timestamp","example":"2024-06-05T12:30:00"}}},"ApplicationRequest":{"type":"object","description":"Request payload for creating or updating a job application","properties":{"vacancyName":{"type":"string","description":"Job title or vacancy name","example":"Backend Engineer"},"recruiterName":{"type":"string","description":"Name of the recruiter (optional)","example":"Jane Smith"},"organization":{"type":"string","description":"Organization or company that posted the vacancy","example":"TechCorp"},"vacancyLink":{"type":"string","description":"URL link to the vacancy posting","example":"https://example.com/jobs/123","pattern":"^(https?|ftp)://.*"},"applicationDate":{"type":"string","format":"date","description":"Date the application was submitted (yyyy-MM-dd)","example":"2024-06-01"},"rhAcceptedConnection":{"type":"boolean","description":"Whether the recruiter accepted a LinkedIn connection","example":true},"interviewScheduled":{"type":"boolean","description":"Whether an interview has been scheduled","example":false},"nextStepDateTime":{"type":"string","format":"date-time","description":"Date/time of the next step (yyyy-MM-dd'T'HH:mm:ss)","example":"2024-06-10T14:00:00"},"status":{"type":"string","description":"Application status","enum":["RH","Fiz a RH - Aguardando Atualização","Fiz a Hiring Manager - Aguardando Atualização","Teste Técnico","Fiz teste Técnico - aguardando atualização","RH (Negociação)","Rejeitado","Tarde demais","Ghosting"],"example":"APPLIED"},"recruiterDmReminderEnabled":{"type":"boolean","description":"Whether a DM reminder to the recruiter is enabled","example":true},"note":{"type":"string","description":"Personal notes about this application","example":"Follow up next Monday"}},"required":["interviewScheduled","recruiterDmReminderEnabled","rhAcceptedConnection"]},"GoogleDriveOAuthStartResponse":{"type":"object","description":"OAuth start response for Google Drive connection","properties":{"authorizationUrl":{"type":"string","description":"Google OAuth authorization URL"},"state":{"type":"string","description":"Opaque state generated by the backend"},"redirectUri":{"type":"string","description":"Configured backend redirect URI"},"scopes":{"type":"array","description":"OAuth scopes requested by the backend","items":{"type":"string"}}}},"GoogleDriveBaseResumeRequest":{"type":"object","description":"Request to register a Google Docs base resume","properties":{"documentIdOrUrl":{"type":"string","description":"Google Docs document ID or URL","example":"https://docs.google.com/document/d/1234567890abcdef/edit","minLength":1},"language":{"type":"string","description":"Language code of the resume (e.g. EN, PT)","example":"EN"},"template":{"type":"boolean","description":"Whether this resume is a template","example":true}},"required":["documentIdOrUrl"]},"GoogleDriveResumeCopyRequest":{"type":"object","description":"Request to copy a configured base resume into an application folder","properties":{"baseResumeId":{"type":"string","format":"uuid","description":"Configured base resume identifier"}},"required":["baseResumeId"]},"GoogleDriveResumeCopyResponse":{"type":"object","description":"Result of copying a Google Docs resume into Drive","properties":{"applicationId":{"type":"string","format":"uuid"},"baseResumeId":{"type":"string","format":"uuid"},"copiedFileId":{"type":"string"},"copiedFileName":{"type":"string"},"documentWebViewLink":{"type":"string"},"vacancyFolderId":{"type":"string"},"vacancyFolderName":{"type":"string"},"vacancyFolderWebViewLink":{"type":"string"},"generatedAt":{"type":"string","format":"date-time"}}},"ResumePlaceholderResponse":{"type":"object","description":"Generated resume from template placeholders","properties":{"applicationId":{"type":"string","format":"uuid","description":"ID of the application this resume is associated with","example":"123e4567-e89b-12d3-a456-426614174000"},"baseResumeId":{"type":"string","format":"uuid","description":"ID of the base resume used as a template","example":"123e4567-e89b-12d3-a456-426614174001"},"copiedFileId":{"type":"string","description":"ID of the copied resume file in Google Drive","example":"1a2b3c4d5e6f7g8h9i0j"},"pdfFileId":{"type":"string","description":"ID of the generated PDF file in Google Drive","example":"0j9i8h7g6f5e4d3c2b1a"},"documentUrl":{"type":"string","description":"URL to view the generated resume document in Google Drive","example":"https://drive.google.com/file/d/1a2b3c4d5e6f7g8h9i0j/view"},"pdfUrl":{"type":"string","description":"URL to download the generated resume PDF from Google Drive","example":"https://drive.google.com/uc?id=0j9i8h7g6f5e4d3c2b1a&export=download"},"values":{"type":"object","additionalProperties":{"type":"string"},"description":"REQUIRED.\n\nMap of placeholder values.\n\nKeys must match the placeholder names returned by the placeholder detection endpoint.\n\nDo NOT include curly braces.\n","example":{"RESUMO":"Senior Java Developer","SOFTSKILL1":"Communication","HARDSKILL1":"Java"}},"placeholders":{"type":"array","description":"List of placeholders that were replaced in the generated resume","example":["RESUMO","SOFTSKILL1","HARDSKILL1"],"items":{"type":"string"}},"generatedAt":{"type":"string","format":"date-time","description":"Timestamp when the resume was generated","example":"2024-06-01T12:34:56"}}},"ResumePlaceholderRequest":{"type":"object","description":"Request for resume placeholder detection or generation","properties":{"baseResumeId":{"type":"string","format":"uuid","description":"Configured base resume identifier"},"values":{"type":"object","additionalProperties":{"type":"string"},"description":"REQUIRED, placeholder values keyed by placeholder name without braces.\n\nMap of placeholder values.\n\nKeys must match the placeholder names returned by the placeholder detection endpoint.\n\nDo NOT include curly braces.\n","example":{"RESUMO":"Senior Java Developer","SOFTSKILL1":"Communication","HARDSKILL1":"Java"}}},"required":["baseResumeId","values"]},"GamificationEventResponse":{"type":"object","description":"Result of applying a gamification event","properties":{"eventType":{"type":"string","description":"Processed event type","enum":["APPLICATION_CREATED","RECRUITER_DM_SENT","INTERVIEW_PROGRESS","NOTE_ADDED","OFFER_WON"],"example":"APPLICATION_CREATED"},"xpAwarded":{"type":"integer","format":"int32","description":"XP awarded for the event","example":10},"leveledUp":{"type":"boolean","description":"Whether the event caused a level up"},"message":{"type":"string","description":"Human-readable feedback message"},"profile":{"$ref":"#/components/schemas/GamificationProfileResponse","description":"Updated profile snapshot"}}},"GamificationProfileResponse":{"type":"object","description":"Gamification profile snapshot for the authenticated user","properties":{"currentXp":{"type":"integer","format":"int64","description":"Total accumulated XP","example":75},"level":{"type":"integer","format":"int32","description":"Current level","example":1},"currentLevelXp":{"type":"integer","format":"int64","description":"XP floor of the current level","example":0},"nextLevelXp":{"type":"integer","format":"int64","description":"XP required to reach the next level","example":100},"xpToNextLevel":{"type":"integer","format":"int64","description":"Remaining XP to level up","example":25},"progressPercentage":{"type":"integer","format":"int32","description":"Progress within the current level","example":75},"rankTitle":{"type":"string","description":"Localized rank title","example":"Desempregado de Aluguel"},"streakDays":{"type":"integer","format":"int32","description":"Current application streak in days","example":0}}},"GamificationEventRequest":{"type":"object","description":"Gamification event emitted by the client","properties":{"eventType":{"type":"string","description":"Event type","enum":["APPLICATION_CREATED","RECRUITER_DM_SENT","INTERVIEW_PROGRESS","NOTE_ADDED","OFFER_WON"],"example":"APPLICATION_CREATED"},"applicationId":{"type":"string","format":"uuid","description":"Application identifier related to the event"},"occurredAt":{"type":"string","format":"date-time","description":"Optional client-side timestamp"}},"required":["eventType"]},"ResetPasswordRequest":{"type":"object","description":"Password reset request","properties":{"token":{"type":"string","description":"Password reset token received via email","example":"abc123xyz","minLength":1},"newPassword":{"type":"string","description":"New password (minimum 8 characters)","example":"newSecureP@ss1","maxLength":2147483647,"minLength":8},"confirmPassword":{"type":"string","description":"Confirm new password (must match newPassword)","example":"newSecureP@ss1","minLength":1}},"required":["confirmPassword","newPassword","token"]},"AuthResponse":{"type":"object","description":"Authentication response containing access token and user info. Refresh token is sent via HttpOnly cookie.","properties":{"accessToken":{"type":"string","description":"JWT access token","example":"eyJhbGciOiJIUzI1NiJ9..."},"user":{"$ref":"#/components/schemas/UserResponse","description":"Authenticated user details"}}},"RegisterRequest":{"type":"object","description":"User registration request","properties":{"name":{"type":"string","description":"User's full name","example":"John Doe","maxLength":150,"minLength":0},"email":{"type":"string","description":"User email address","example":"john@example.com","maxLength":255,"minLength":0},"password":{"type":"string","description":"Password (minimum 8 characters)","example":"secureP@ss1","maxLength":2147483647,"minLength":8},"confirmPassword":{"type":"string","description":"Confirm password (must match password)","example":"secureP@ss1","minLength":1}},"required":["confirmPassword","email","name","password"]},"RefreshResponse":{"type":"object","description":"Refreshed access token response. New refresh token is sent via HttpOnly cookie.","properties":{"accessToken":{"type":"string","description":"New JWT access token","example":"eyJhbGciOiJIUzI1NiJ9..."}}},"JsonNode":{},"PasskeyVerifyRequest":{"type":"object","properties":{"challengeId":{"type":"string","format":"uuid"},"credential":{"$ref":"#/components/schemas/JsonNode"}},"required":["challengeId","credential"]},"PasskeyOptionsResponse":{"type":"object","properties":{"passkeyAvailable":{"type":"boolean"},"challengeId":{"type":"string","format":"uuid"},"publicKey":{"$ref":"#/components/schemas/JsonNode"}}},"PasskeyLoginOptionsRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1}},"required":["email"]},"LoginRequest":{"type":"object","description":"Login request","properties":{"email":{"type":"string","description":"User email address","example":"john@example.com","minLength":1},"password":{"type":"string","description":"User password","example":"secureP@ss1","minLength":1}},"required":["email","password"]},"ForgotPasswordRequest":{"type":"object","description":"Forgot password request","properties":{"email":{"type":"string","description":"Email address associated with the account","example":"john@example.com","minLength":1}},"required":["email"]},"UpdateStatusRequest":{"type":"object","description":"Request to update the status of a job application","properties":{"status":{"type":"string","description":"New application status","enum":["RH","Fiz a RH - Aguardando Atualização","Fiz a Hiring Manager - Aguardando Atualização","Teste Técnico","Fiz teste Técnico - aguardando atualização","RH (Negociação)","Rejeitado","Tarde demais","Ghosting"],"example":"Teste Técnico"}}},"UpdateReminderRequest":{"type":"object","description":"Request to toggle the recruiter DM reminder on an application","properties":{"recruiterDmReminderEnabled":{"type":"boolean","description":"Whether the recruiter DM reminder should be enabled","example":true}},"required":["recruiterDmReminderEnabled"]},"MarkDmSentRequest":{"description":"Request to mark that DM was sent to the recruiter"},"ResumePlaceholderDetectionResponse":{"type":"object","description":"Resume template placeholder detection result","properties":{"baseResumeId":{"type":"string","format":"uuid"},"placeholders":{"type":"array","items":{"type":"string"}}}},"BaseResumeResponse":{"type":"object","description":"Lightweight metadata of a configured Google Docs base resume, optimised for GPT/frontend discovery","properties":{"id":{"type":"string","format":"uuid","description":"UUID of the base resume. Use this ID in API calls — filenames and Google file IDs are NOT valid here.","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","description":"Display name of the resume document","example":"BASE - CV - Vitor Hugo EN"},"language":{"type":"string","description":"Language code of the resume (e.g. EN, PT). Null when not configured.","example":"EN"},"template":{"type":"boolean","description":"Whether this resume is a reusable template","example":true},"createdAt":{"type":"string","format":"date-time","description":"Timestamp when this base resume was registered"}}},"BaseResumeContentResponse":{"type":"object","description":"Base resume metadata and plain text content extracted from Google Docs. Template placeholders such as {{SUMMARY}} and {{SKILLS}} are preserved as-is for AI analysis.","properties":{"id":{"type":"string","format":"uuid","description":"UUID of the base resume. Use this ID in API calls — filenames and Google file IDs are NOT valid here.","example":"550e8400-e29b-41d4-a716-446655440000"},"name":{"type":"string","description":"Display name of the resume document","example":"BASE - CV - Vitor Hugo EN"},"language":{"type":"string","description":"Language code of the resume (e.g. EN, PT). Null when not configured.","example":"EN"},"template":{"type":"boolean","description":"Whether this resume is a reusable template","example":true},"content":{"type":"string","description":"Plain text content extracted from the Google Docs document. Template placeholders such as {{SUMMARY}} and {{SKILLS}} are preserved."}}},"GeneratedResumeContentResponse":{"type":"object","properties":{"applicationId":{"type":"string","format":"uuid"},"resumeFileId":{"type":"string"},"fileName":{"type":"string"},"content":{"type":"string"}}},"AchievementResponse":{"type":"object","description":"Achievement status for the authenticated user","properties":{"code":{"type":"string","description":"Stable achievement code","example":"EARLY_BIRD"},"name":{"type":"string","description":"Display name","example":"Early Bird"},"description":{"type":"string","description":"Achievement description"},"icon":{"type":"string","description":"Icon token for the UI","example":"sunrise"},"unlocked":{"type":"boolean","description":"Whether the achievement was unlocked"},"achievedAt":{"type":"string","format":"date-time","description":"Unlock timestamp when available"}}},"DashboardSummaryResponse":{"type":"object","description":"Aggregate dashboard statistics for the authenticated user","properties":{"totalApplications":{"type":"integer","format":"int64","description":"Total number of job applications","example":25},"waitingResponses":{"type":"integer","format":"int64","description":"Applications still awaiting a response","example":10},"interviewsScheduled":{"type":"integer","format":"int64","description":"Applications with an interview scheduled","example":3},"interviewCount":{"type":"integer","format":"int64","description":"Cumulative count of interview status entries","example":7},"overdueFollowUps":{"type":"integer","format":"int64","description":"Applications with overdue follow-up dates","example":2},"dmRemindersEnabled":{"type":"integer","format":"int64","description":"Applications with recruiter DM reminder enabled","example":5},"toSendLater":{"type":"integer","format":"int64","description":"Applications marked to send later (status is null)","example":4},"rejectedCount":{"type":"integer","format":"int64","description":"Applications marked as Rejeitado","example":2},"ghostingCount":{"type":"integer","format":"int64","description":"Applications marked as Ghosting","example":3},"averageDailyApplications":{"type":"number","format":"double","description":"Average applications per day over the last 30 days","example":1.2},"averageWeeklyApplications":{"type":"number","format":"double","description":"Average applications per week over the last 12 weeks","example":6.5},"averageMonthlyApplications":{"type":"number","format":"double","description":"Average applications per month over the last 12 months","example":18.0}}},"PasskeyStatusResponse":{"type":"object","properties":{"hasPasskeys":{"type":"boolean"}}},"ApplicationPageResponse":{"type":"object","description":"Paginated list of job applications","properties":{"content":{"type":"array","description":"Applications on this page","items":{"$ref":"#/components/schemas/ApplicationResponse"}},"pageNumber":{"type":"integer","format":"int32","description":"Current page number (0-based)","example":0},"pageSize":{"type":"integer","format":"int32","description":"Number of items per page","example":10},"totalElements":{"type":"integer","format":"int64","description":"Total number of applications matching the filter","example":42},"totalPages":{"type":"integer","format":"int32","description":"Total number of pages","example":5}}},"LinkMetadataResponse":{"type":"object","description":"Rich link preview metadata extracted from a URL","properties":{"title":{"type":"string","description":"Page title","example":"Senior Backend Engineer - TechCorp"},"description":{"type":"string","description":"Page description","example":"Join our backend team and work on scalable microservices"},"image":{"type":"string","description":"Open Graph image URL","example":"https://example.com/og-image.jpg"},"domain":{"type":"string","description":"Domain name","example":"linkedin.com"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"},"gptOAuth":{"type":"oauth2","name":"gptOAuth","flows":{"authorizationCode":{"authorizationUrl":"https://jobapply-api.hugojava.dev/oauth2/authorize","tokenUrl":"https://jobapply-api.hugojava.dev/oauth2/token","scopes":{"read:profile":"Read the authenticated user's profile","read:applications":"Read the authenticated user's applications","write:applications":"Create or update the authenticated user's applications","read:resume":"Read resume content for the authenticated user","read:google-drive":"Read Google Drive integration status for the authenticated user","read:metrics":"Read dashboard metrics for the authenticated user"}}}}}}}