@layer primereact, tailwind-utilities;

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-emphasis: none;
    text-decoration: none;
}